<ng-template #loggedInUserHeaderContent>
  <span>{{user}}</span>
  <app-button  (click)="onLogout()" [type]="ButtonTypes.Button" [buttonText]="'Logout'"></app-button>
</ng-template>
<ng-template #loggedOutUserHeaderContent>
  <app-button (click)="onLogin()" [type]="ButtonTypes.Button" [buttonText]="'Login'"></app-button>
</ng-template>

<app-header>
  <ng-container *ngIf="isAuth(); then loggedInUserHeaderContent; else loggedOutUserHeaderContent"></ng-container>
</app-header>
<div class="app-root">
  <router-outlet></router-outlet>

  <!-- Search component -->
  <!--<app-search></app-search>-->

  <!-- Info component -->
  <!--<app-info></app-info>-->

  <!-- Course Card component -->
  <!--<app-course-card></app-course-card>-->

  <!-- Login Form component -->
  <!--<app-login-form></app-login-form>-->

  <!-- Login Form component -->
  <!--<app-registration-form></app-registration-form>-->

  <!-- Login Form component -->
  <!--<app-course-form></app-course-form>-->

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
