.noCourse {
  display: flex;
  color:rgb(0, 62, 219);
  font-size: 1rem;
  margin-top: 2rem;
  justify-content: left;
  font-weight: bold;
  opacity: 0.4;
  animation: sizeAnimation 1s ease-in-out;
}

@keyframes sizeAnimation {
  0%, 100% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
}

.actionBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  width: 100%;
}