.noCourse {
  color:rgb(219, 149, 28);
  font-size: 1rem;
  margin-top: 2rem;
}

.actionBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}