.noCourseContainer {
  display: flex;
  position: relative;
  justify-content: center;
}

.noCourse {
  display: flex;
  color:rgb(255, 22, 22);
  font-size: 1rem;
  justify-content: left;
  font-weight: bold;
  opacity: 0.5;
  position: absolute;
  z-index: 2;
  text-shadow: 0 0.05rem 0.1rem rgb(38, 31, 34);
}

.animate {
  animation: showAnimation 1.5s ease-in-out;
}

@keyframes showAnimation {
  0%, 100% {
    opacity: 0.5;
    scale: 1;
  }
  50% {
    opacity: 1;
    scale: 2;
  }
}

.actionBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  width: 100%;
  margin-bottom: 5%;
}