.app-search {
  display: flex;
  align-items: center;
  min-width: 50vw;

  & input {
    margin-right: 24px;
    height: 3rem;
    background-color:  rgba(160, 202, 208, 0.2);
    font-weight: bolder;
    border-color: white;
  }
}
