.app-search {
  display: flex;
  align-items: center;
  min-width: 50vw;

  & input {
    margin-right: 24px;
    height: 3rem;
    background-color:  rgb(255, 255, 255);
    font-weight: bolder;
    border-color: rgba(17, 14, 49, 0.2);
    color: rgb(0, 107, 207);
  }
}
